# Environment variables for Odoo + PostgreSQL
# Copy to .env and fill in your values

POSTGRES_DB=odoo_db
POSTGRES_PASSWORD=your_strong_password_here
POSTGRES_USER=odoo
PGDATA=/var/lib/pgsql/data/pgdata

HOST=comercial-asertis-db
USER=odoo
PASSWORD=your_strong_password_here
ADMIN_PASSWORD=your_admin_password_here
